@import '../../helpers/_variables'

.tabs-nav-item
  &__button
    padding: 10px 35px
    margin: 0

    text-transform: uppercase

    font-weight: 500
    letter-spacing: 1px
    color: $button-text-color

    background-color: $basic-background-color
    border: none
    outline: none

    transition: background-color $hover-duration

    cursor: pointer

    &:hover
      background-color: $hover-background-color

    &_active
      color: $main-color

      background-color: $active-background-color

  &__highlighter
    position: absolute
    top: 100%
    left: 0
    right: 0

    border-bottom: 2px solid $main-color
